.firstSubSection {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 124px;

  width: 100%;
  height: 430px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.titleBig {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;

  margin-bottom: 16px;
}

.imageContainer {
  width: 430px;
  height: auto;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 726px;
  height: 342px;

  overflow: hidden;
}

.locationContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;

  margin-bottom: 32px;
}

/*TODO: used one other sections*/
.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;

  margin-bottom: 10px;
}

@media screen and (max-width: 677px) {
  .titleBig {
    font-size: 32px;
    line-height: 38px;
    font-feature-settings: 'pnum' on, 'lnum' on;

    /* White-2 */

    color: #e2e2e2;
  }

  .imageContainer {
    width: 240px;
    height: 255px;
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 16px;

    width: 402px;
    height: 255px;
  }

  .description {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    /* or 21px */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* White */

    color: #ffffff;
  }
}

@media screen and (max-width: 425px) {
  .titleBig {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    /* or 26px */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* White */

    color: #ffffff;
  }

  .imageContainer {
    width: 120px;
    height: 170px;
  }

  .descriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
  }

  .description {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    /* or 18px */

    font-feature-settings: 'pnum' on, 'lnum' on;

    /* White-2 */

    color: #e2e2e2;
  }
}
