.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 128px;

  width: 1280px;
  height: 11924px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.firstSubSection {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 124px;

  width: 1280px;
  height: 430px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.descriptionContainer {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 726px;
  height: 342px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.titleBig {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;

  margin-bottom: 16px;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;

  margin-bottom: 10px;
}

.locationContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;

  margin-bottom: 32px;
}

.secondSubSection {
  /* Frame 501 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 1280px;
  height: 934px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.descContainer {
  /* Frame 9365 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 232px;

  width: 1280px;
  height: 149px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.titleMedium {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #ffffff;
}

.descInnerContainer {
  /* Frame 9360 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 524px;
  height: 149px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.thirdSubSection {
  /* Frame 505 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;

  width: 1280px;
  height: 790px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.imageDescContainer {
  /* Frame 258 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 124px;

  width: 1280px;
  height: 280px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.paragraphContainer {
  /* Frame 254 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 22px;

  width: 632px;
  height: 280px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.titleSmall {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;
}

.imageRawLayoutContainer {
  width: 100%;
  position: relative;
  object-fit: contain;
}

.labelDescContainer {
  /* Frame 253 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 25px;

  width: 632px;
  height: 26px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.fourthSubSection {
  /* Frame 9421 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 56px;

  width: 1280px;
  height: 506px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
}

.descriptionWrapper {
  /* Frame 9420 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 1280px;
  height: 162px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.titleWrapper {
  /* Frame 210 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 1280px;
  height: 78px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.subtitleContainer {
  /* Frame 153 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 1280px;
  height: 88px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.subtitleWrapper {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  /* or 34px */

  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.facilitiesContainer {
  /* Frame 9419 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 664px;
  height: 288px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.rowFacilitiesContainer {
  /* Frame 9417 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 664px;
  height: 136px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.facilityCardContainer {
  /* Frame 9407 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 16px;

  width: 154px;
  height: 136px;

  /* Hospitality-card */

  background: linear-gradient(128.87deg, #1d2932 1.8%, #131b21 100%);
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.cardLabel {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.sneakPeakContainer {
  /* Frame 504 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;

  width: 1280px;
  height: 434px;

  /* Inside auto layout */

  flex: none;
  order: 5;
  align-self: stretch;
  flex-grow: 0;
}

.sneakPeakImageContainer {
  /* Frame 550 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 1280px;
  height: 308px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.singleImageContainer {
  /* BluePrint1 */

  width: 308px;
  height: 308px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.smartSystemContainer {
  /* Frame 250 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 48px;

  width: 1280px;
  height: 648px;

  /* Inside auto layout */

  flex: none;
  order: 6;
  align-self: stretch;
  flex-grow: 0;
}

.titleHeaderSmartSystem {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  text-align: center;

  /* White-2 */

  color: #e2e2e2;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.smartSystemHeaderContainer {
  /* Frame 149 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 1280px;
  height: 162px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.smartSystemDescContainer {
  /* Frame 249 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;

  width: 1280px;
  height: 438px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.smartSystemLeftDescContainer {
  /* Frame 248 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 48px;

  width: 416px;
  height: 438px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.connectDescContainer {
  /* Frame 236 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  width: 308px;
  height: 114px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.userFriendlyDescContainer {
  /* Frame 236 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  width: 308px;
  height: 114px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.functionalDescContainer {
  /* Frame 236 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  width: 308px;
  height: 114px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.smartSystemMidDescContainer {
  /* Frame 46 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;

  width: 416px;
  height: 438px;

  /*transform: matrix(-1, 0, 0, 1, 0, 0);*/

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
}

.smartSystemRightDescContainer {
  /* Frame 247 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  gap: 48px;

  width: 416px;
  height: 438px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 1;
}

.smartDescContainer {
  /* Frame 244 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  width: 303px;
  height: 114px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.greenDescContainer {
  /* Frame 245 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  width: 303px;
  height: 114px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.safeDescContainer {
  /* Frame 246 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;

  width: 302px;
  height: 114px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.permissiveDocSectionContainer {
  /* Frame 9425 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 62px;

  width: 1280px;
  height: 738px;

  /* Inside auto layout */

  flex: none;
  order: 7;
  align-self: stretch;
  flex-grow: 0;
}

.permissiveDocHeaderContainer {
  /* Frame 9442 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 1280px;
  height: 198px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.permissiveDocTopHeaderContainer {
  /* Frame 142 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: 1280px;
  height: 78px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.permissiveDocHeaderTitle {
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #e2e2e2;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.permissiveDocHeaderLabel {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White-2 */

  color: #e2e2e2;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.permissiveDocLinkWrapper {
  /* Frame 9474 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 398px;
  height: 38px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.permissiveDocImageDescContainer {
  /* Frame 9441 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 160px;

  width: 1280px;
  height: 476px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.permissiveDocFirstImageContainer {
  /* Frame 9440 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 320px;
  height: 476px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.permissiveDocSecondImageContainer {
  /* Frame 9440 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 320px;
  height: 476px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.permissiveDocThirdImageContainer {
  /* Frame 9440 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 320px;
  height: 476px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.permissiveDocImageTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.permissiveDocImageLabel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White-2 */

  color: #e2e2e2;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.nftFragmentContainer {
  /* Frame 9422 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 62px;

  width: 1280px;
  height: 360px;

  /* Inside auto layout */

  flex: none;
  order: 8;
  align-self: stretch;
  flex-grow: 0;
}

.nftFragmentImageDescContainer {
  /* Frame 9446 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 114px;

  width: 1280px;
  height: 194px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.nftFragmentImageOuterContainer {
  /* Frame 456 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 308px;
  height: 194px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.nftFragmentImageDescTextContainer {
  /* Frame 9445 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 32px;

  width: 868px;
  height: 194px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}

.nftFragmentDescTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  /* or 45px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White-2 */

  color: #e2e2e2;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.nftFragmentDescLabel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White-2 */

  color: #e2e2e2;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.mintingStageContainer {
  /* Lima Beach Minting Stage */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 128px;

  width: 1280px;
  height: 1608px;

  /* Inside auto layout */

  flex: none;
  order: 9;
  align-self: stretch;
  flex-grow: 0;
}

.mintingStageHeaderContainer {
  /* Frame 149 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 18px;

  width: 1280px;
  height: 144px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.mintingStageTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  color: #e2e2e2;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.mintingStageLabelContainer {
  /* Frame 153 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 1280px;
  height: 68px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.mintingStageLabel {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White-2 */

  color: #e2e2e2;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.mintingStageCard {
  /* Card */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 80px;
  gap: 10px;

  width: 1280px;
  height: 320px;

  /* Display-2 */

  background: #344054;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.mintingStageCardContent {
  /* Content */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 357px;

  width: 1120px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.mintingStageTextMintNow {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.mintingStageImageDescContainer {
  /* Frame 9457 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 56px;

  width: 1280px;
  height: 952px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.mintingStageFirstRowImageDescContainer {
  /* Frame 9464 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 92px;

  width: 1280px;
  height: 196px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.mintingStageFirstRowDescContainer {
  /* Frame 9449 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px;
  gap: 24px;

  width: 868px;
  height: 196px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.mintingStageDescLabel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White-2 */

  color: #e2e2e2;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.mintingStageDescTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.mintingStageSecondRowImageDescContainer {
  /* Frame 9463 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 92px;

  width: 1280px;
  height: 196px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.mintingStageSecondRowDescContainer {
  /* Frame 9450 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 868px;
  height: 196px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.mintingStageThirdRowImageDescContainer {
  /* Frame 9462 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 92px;

  width: 1280px;
  height: 196px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}

.mintingStageThirdRowDescContainer {
  /* Frame 9451 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0px;
  gap: 24px;

  width: 868px;
  height: 196px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.mintingStageFourthRowImageDescContainer {
  /* Frame 9461 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 92px;

  width: 1280px;
  height: 196px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.mintingStageFourthRowDescContainer {
  /* Frame 9452 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 868px;
  height: 134px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.tokenDistributionContainer {
  /* Frame 225 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 80px;

  width: 1280px;
  height: 848px;

  /* Inside auto layout */

  flex: none;
  order: 9;
  align-self: stretch;
  flex-grow: 0;
}

.roadmapContainer {
  /* Frame 499 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 1280px;
  height: 1544px;

  /* Inside auto layout */

  flex: none;
  order: 10;
  align-self: stretch;
  flex-grow: 0;
}
