.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 128px;

  width: 1280px;
  height: 11924px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.firstSubSection {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 124px;

  width: 1280px;
  height: 430px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.descriptionContainer {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 726px;
  height: 342px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.titleBig {
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 58px;
  /* identical to box height */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;

  margin-bottom: 16px;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;

  margin-bottom: 10px;
}

.locationContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;

  margin-bottom: 32px;
}

.secondSubSection {
  /* Frame 501 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 1280px;
  height: 934px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.descContainer {
  /* Frame 9365 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 232px;

  width: 1280px;
  height: 149px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.titleMedium {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */

  color: #ffffff;
}

.descInnerContainer {
  /* Frame 9360 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 524px;
  height: 149px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.thirdSubSection {
  /* Frame 505 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;

  width: 1280px;
  height: 790px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
}

.imageDescContainer {
  /* Frame 258 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 124px;

  width: 1280px;
  height: 280px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.paragraphContainer {
  /* Frame 254 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 22px;

  width: 632px;
  height: 280px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.titleSmall {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 160%;
  /* or 38px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;
}

.imageRawLayoutContainer {
  width: 100%;
  position: relative;
  object-fit: contain;
}

.labelDescContainer {
  /* Frame 253 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 25px;

  width: 632px;
  height: 26px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.thirdSubSection {
  /* Frame 9421 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 56px;

  width: 1280px;
  height: 506px;

  /* Inside auto layout */

  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
}
