.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 3em;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.firstSubSection {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 124px;

  width: 100%;
  height: 430px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.imageContainer {
  width: 100%;
  height: 100%;
  position: relative;
}

.descriptionContainer {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 726px;
  height: 342px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}

.description {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  /* or 24px */

  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;

  margin-bottom: 10px;
}

.secondSubSection {
  /* Frame 501 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  width: 1280px;
  height: 934px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}

.imageDescContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 124px;

  width: 100%;
  height: 280px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.imageRawLayoutContainer {
  width: 100%;
  position: relative;
  object-fit: contain;
}

.subtitleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;

  width: 1280px;
  height: 88px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.subtitleWrapper {
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  /* or 34px */

  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White */

  color: #ffffff;
}

.investContainer {
  /* Frame 9423 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 64px;

  width: 1280px;
  height: 504px;

  /* Inside auto layout */

  flex: none;
  order: 10;
  align-self: stretch;
  flex-grow: 0;
}

.investHeaderContainer {
  /* Frame 142 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 330px;

  width: 1280px;
  height: 78px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.investStepsContainer {
  /* Frame 258 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 124px;

  width: 1280px;
  height: 338px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.investStepsDescContainer {
  /* Frame 9377 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 632px;
  height: 338px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}

.investStepDetailDescContainer {
  /* Frame 121 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 16px;

  width: 632px;
  height: 102px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.investFirstStepHeaderContainer {
  /* Frame 9376 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 632px;
  height: 38px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.investFirstStepLabelContainer {
  /* Frame 9375 */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px 0px 0px 56px;
  gap: 16px;

  width: 632px;
  height: 48px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.investStepsImageContainer {
  /* Frame 478 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 524px;
  height: 338px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.tokenDistributionContainer {
  /* Frame 225 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 80px;

  width: 1280px;
  height: 848.11px;

  /* Inside auto layout */

  flex: none;
  order: 11;
  align-self: stretch;
  flex-grow: 0;
}

.tokenDistributionLabel {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  /* identical to box height, or 36px */

  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;

  /* White-2 */

  color: #e2e2e2;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.tokenDistributionHeaderContainer {
  /* Frame 149 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 8px;

  width: 1280px;
  height: 122px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.roadmapContainer {
  /* Frame 499 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 1280px;
  height: 1544px;

  /* Inside auto layout */

  flex: none;
  order: 12;
  align-self: stretch;
  flex-grow: 0;
}

.roadmapHeaderContainer {
  /* Frame 149 */

  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 18px;

  width: 1280px;
  height: 144px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
