.incrementorButton {
  /*create perfect circular button*/
  aspect-ratio: 1;
  border-radius: 50%;
  display: grid;
  place-items: center;
  padding: 0;

  background-color: unset;

  border: 1.5px solid #8f98aa;
}

.inputQuantity {
  width: 84px;
  text-align: center;
  border: 0;

  background-color: unset;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 48px;
}

.header h1,
.header p {
  display: flex;
  flex-direction: column;

  margin-block-end: 0;
}

.inputMint {
  display: flex;
  flex-direction: column;
  gap: 16px;

  margin-bottom: 32px;
}

.walletStatus {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-bottom: 32px;
}
